.App {
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items:center;
  justify-content:center ;
  background: #0b1522;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.heart{
  height: 70px;
  width: 70px;
  background: #f20044;
  position: relative;
  animation: heart 0.6s linear infinite;
  box-shadow: -10px 10px 50px #f20044;
  
}
@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1.0);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}
.heart::before{
  content: '';
  height: 70px;
  width: 70px;
  background: #f20044;
  position: absolute;
  border-radius:50px;
  
  box-shadow: 10px 10px 50px #f20044;
}
.heart::after{
  content: '';
  height: 70px;
  width: 70px;
  background: #f20044;
  position: absolute;
  border-radius:50px;
  bottom:50%;
  right:0%;
  box-shadow: -10px -10px 50px #f20044;

}

.heart-disappear {
  animation: heart-vanish 2s ease forwards;
}

@keyframes heart-vanish {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.App-link {
  color: #61dafb;
}


